<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApiMapper">

	 <!-- api 데이터 삽입  -->
	<insert id="insertApi" parameterType="arraylist">
		insert all
		<foreach item="item" collection="list">
			into spot (title, addr1, addr2, mapx, mapy, areaCode, contentTypeid)
	  	        values (#{item.title},#{item.addr1},#{item.addr2},#{item.mapx},#{item.mapy},#{item.areaCode},#{item.contentTypeid})
		</foreach>
		select * from dual
	</insert>
	
	<!-- 중복 데이터 삭제 -->
	<delete id="deleteDuplication" parameterType="arraylist">
		delete from spot
		<where>
			<foreach item="item" collection="list" separator="or">
				title=#{item.title} and mapx like #{item.mapx}||'%' and mapy like #{item.mapy}||'%'
			</foreach>
		</where>
	</delete>
	
	<!-- 장소 찾기 -->
	<select id="findSpot" parameterType="map" resultType="ApiDTO2">
		select *
		from spot
		where title=#{title}
	</select>
	
	<!-- 지역별 숙박/음식 시설 찾기 -->
	<select id="findHotelandFood" parameterType="map" resultType="ApiDTO2">
		select *
		from spot
		where areaCode=#{areaCode} and contentTypeid=#{contentTypeid}
	</select>
	
	<!-- 관광정보 찾기 -->
	<select id="findSightseeing" parameterType="map" resultType="ApiDTO2">
		select *
		from spot
		where areaCode=#{areaCode} and contentTypeid=#{contentTypeid3}
<!-- 		where areaCode=#{areaCode} and (contentTypeid=#{contentTypeid1} or contentTypeid=#{contentTypeid2} or contentTypeid=#{contentTypeid3} or contentTypeid=#{contentTypeid4} or contentTypeid=#{contentTypeid5}) -->
	</select>
	
</mapper>