<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MyPageMapper">

<!-- 회원 정보 확인 -->
	<select id="memberInfo" parameterType="string" resultType="MemberDTO">
		select userID, name, email, post, addr1, addr2, phone
		from member
		where userID=#{userID} 
	</select>

<!-- 회원 정보 수정 -->
	<update id="memberUpdate">
			update member 
			set name=#{name}, email=#{email}, post=#{post}, addr1=#{addr1}, addr2=#{addr2}, phone=#{phone}
			where userID=#{userID}
	</update>
	
<!-- 일정보관함 -->
 	<select id="travel" parameterType="string" resultType="TravelDTO">
 	   select travelTitle, areaCode
 	   from Travel
 	   where userID=#{userID}
 	</select> 
 	
<!--내가 찜한 일정 목록 -->
 	<select id="userLikeList" parameterType="string" resultType="UserLikeDTO">
 	   select *
 	   from user_like_list
 	   where userid =#{userid}
 	</select>
 	
<!--내가 쓴 글 목록 목록 -->
 	<select id="writeList" parameterType="string" resultType="BoardDTO">
 	   select title, boarddate 
 	   from Board
 	   where userid =#{userid}
 	</select>
<!-- select userid, sdate, edate, traveltitle, areacode
 	   from TRAVEL -->

<!-- 내가 좋아요 한 여행 목록 -->


<!-- 회원 탈퇴하기 (트랜잭션) -->
	<delete id="memberDelete">
		delete
		from member
		where userID=#{userID} and passwd=#{passwd}
	</delete>
	
	<!-- 여행 일정 함께 삭제 -->
	<delete id="deleteTravelRecordsByUserId">
		delete
		from travel
		where userID=#{userID}
	</delete>
	
	<!-- 내가 쓴 글 함께 삭제 -->
	<delete id="deleteBoardRecordsByUserId">
		delete
		from board
		where userID=#{userID}
	</delete>
	
	<!-- 내가 쓴 댓글 함께 삭제 -->
	<delete id="deleteCommentsRecordsByUserId">
		delete
		from comments
		where userID=#{userID}
	</delete>
	
	<!-- 공유 여행 게시글 함께 삭제 -->
	<delete id="deleteSharedTravelRecordsByUserId">
		delete
		from sharedTravel
		where userID=#{userID}
	</delete>
	
	<!-- 공유 여행 게시판 댓글 함께 삭제 -->
	<delete id="deleteCommentsOfTravelRecordsByUserId">
		delete
		from commentsOfTravel
		where userID=#{userID}
	</delete>
	
	<!--  좋아요 목록 함께 삭제  -->
	<delete id="deleteUserLikeRecordsByUserId">
		delete
		from user_like_list
		where userID=#{userID}
	</delete> 
	
	
<!-- 회원 탈퇴를 위한 비밀번호 체크 -->
	<select id="checkPw" resultType="int">
		select count(*)
		from member
		where userID=#{userID} and passwd=#{passwd}
	</select>


</mapper>